body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
}

input {
  width: 70px;
  margin: 2px;
  text-align: center;
}

button {
  padding: 12px 25px;
  background: #22c55e;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
