body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
}

input {
  width: 80px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
